PORT=3000

SUPABASE_URL=
SUPABASE_ANON_KEY=
SUPABASE_SERVICE_KEY=

EMAIL_USER=
EMAIL_APP_PASSWORD=

PAYPAL_CLIENT_ID=
PAYPAL_CLIENT_SECRET=
PAYPAL_MODE=sandbox
PAYPAL_WEBHOOK_ID=

ADMIN_USER=admin
ADMIN_PASS_HASH=
SESSION_SECRET=

APP_BASE_PATH=
